<p>How is the weather? Type your location and discover</p>
<form>
  <input type="text" placeholder="Location" id="search" />
  <button>Search</button>
</form>
<p id="firstParagraph" />
<p id="secondParagraph" />

<script src="js/main.js"></script>