body{
  color: #333;
  font-family:  'Roboto', Arial,  sans-serif;
  max-width: 650px;
  min-width: 400px;
  margin: 0px auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

a, a:active{
  color: #888;
  font-weight: 700;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888;
  border-top: 1px solid #eee;
  margin-top: 16px;
  padding: 16px 0;
}

.about{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about img{ 
  width: 50%;
  border-radius: 16px;
  margin: 16px 16px 16px 0;
}

.not-found {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.not-found img {
  width: 650px;
}

.not-found h3 {
  font-size: 2.5rem;
}

.error {
  color: darkred;
  font-weight: 500;
}

input {
  border: 1px solid #ccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888;
  background-color: #888;
  color: white;
  padding: 8px;
}