h1, h2, footer, body, section {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1 {
  color: purple;
  font-weight: 700;
  font-size: 3.5rem;
  font-family: sans-serif;
}

#avatar {
  width: 400px;
}